@tailwind base;
@tailwind components;

.btn-teal {
  @apply inline-block bg-teal-700 px-6 py-2 uppercase rounded-md shadow-lg text-white tracking-wider text-sm font-semibold;
}

.btn-teal:hover {
  @apply bg-teal-600;
}
.btn-teal:focus {
  @apply shadow-lg;
}
.btn-teal:active {
  @apply bg-teal-800;
}

.header {
  height: 400px;
}

.hero {
  z-index: -10;
}

@screen md {
  .btn-teal {
    @apply text-lg;
  }
  .header {
    height: 650px;
  }
}
@tailwind utilities;
