@tailwind base;
@tailwind components;

.btn-teal {
  @apply inline-block bg-teal-700 px-6 py-2 uppercase rounded-md shadow-lg text-white tracking-wider text-sm font-semibold;
}

.btn-teal:hover {
  @apply bg-teal-600;
}
.btn-teal:focus {
  @apply shadow-lg;
}
.btn-teal:active {
  @apply bg-teal-800;
}

.header {
  height: 400px;
}

.hero {
  z-index: -10;
}

.movie-card-container {
  @apply flex flex-shrink-0;
}

.movie-card-link {
  @apply relative  block mx-2;
}

.movie-card-content {
  @apply absolute inset-0 hidden bg-black opacity-75  flex-col justify-end text-white p-4;
}

.movie-card-title {
  @apply text-2xl mb-2;
}

.movie-card-text {
  @apply leading-normal select-none;
}

.trailer {
  height: 300px;
}

.btn-primary {
  @apply bg-transparent uppercase border border-orange-600 text-orange-600 px-10 py-3 inline-block;
}

.btn-primary:hover {
  @apply bg-orange-600 text-white cursor-pointer;
}

@screen md {
  .btn-teal {
    @apply text-lg;
  }
  .header {
    height: 650px;
  }
  .trailer {
    height: 650px;
  }
}
@tailwind utilities;
